/GEA-data
/GF-data
/pop-gen-data
bioinformatics-pipeline/msc/removeIndividuals.sh
bioinformatics-pipeline/msc/removeSamps.txt
bioinformatics-pipeline/vcf312Names.txt
bioinformatics-pipeline/vcf312NamesNew.txt
.gitignore
bioinformatics-pipeline/vcfNames.txt
bioinformatics-pipeline/vcfNamesNew.txt

GEA-scripts/old/00.SNPtoMAF.sh
GEA-scripts/old/01.generateBaypassInput.sh
GEA-scripts/old/02.baypass.sh
GEA-scripts/old/env2baypass.pl
GEA-scripts/old/vcf2baypass.pl
ldDecay/oldScripts/.DS_Store
ldDecay/oldScripts/ldDecay.sh
ldDecay/oldScripts/ldDecayCalc.py
ldDecay/oldScripts/ldDecayPlot.R
ldDecay/oldScripts/PopLDdecayPlot.R
ldDecay/plots/.DS_Store
ldDecay/plots/binnedPlots/adusta_MX_ldDecay_plot.png
ldDecay/plots/binnedPlots/caurina_AK_ldDecay_plot.png
ldDecay/plots/binnedPlots/cleonensis_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/combined_LdDecay_Plot.png
ldDecay/plots/binnedPlots/combined_Loess_LdDecay_Plot.png
ldDecay/plots/binnedPlots/faceted_line_ldDecay_plot.png
ldDecay/plots/binnedPlots/fallax_AZ_ldDecay_plot.png
ldDecay/plots/binnedPlots/fallax_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/fallax_UT_ldDecay_plot.png
ldDecay/plots/binnedPlots/gouldii_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/graminea_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/heermanni_N_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/heermanni_S_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/insignis_AK_ldDecay_plot.png
ldDecay/plots/binnedPlots/kenaiensis_AK_ldDecay_plot.png
ldDecay/plots/binnedPlots/maxillaris_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/maxima_AK_ldDecay_plot.png
ldDecay/plots/binnedPlots/merrilli_AK_ldDecay_plot.png
ldDecay/plots/binnedPlots/merrilli_WA_ldDecay_plot.png
ldDecay/plots/binnedPlots/mexicana_MX_ldDecay_plot.png
ldDecay/plots/binnedPlots/montana_N_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/montana_NV_ldDecay_plot.png
ldDecay/plots/binnedPlots/montana_OR_ldDecay_plot.png
ldDecay/plots/binnedPlots/montana_S_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/morphna_BC_ldDecay_plot.png
ldDecay/plots/binnedPlots/nominate_ON_ldDecay_plot.png
ldDecay/plots/binnedPlots/nominate_VA_ldDecay_plot.png
ldDecay/plots/binnedPlots/pusillula_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/rivularis_MX_ldDecay_plot.png
ldDecay/plots/binnedPlots/rufina_BC_ldDecay_plot.png
ldDecay/plots/binnedPlots/samuelis_CA_ldDecay_plot.png
ldDecay/plots/binnedPlots/sanaka_AK_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/adusta_MX_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/caurina_AK_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/cleonensis_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/combined_3000bp_LdDecay_Plot.png
ldDecay/plots/nonBinnedPlots/combined_5000bp_LdDecay_Plot.png
ldDecay/plots/nonBinnedPlots/combined_LdDecay_Plot.png
ldDecay/plots/nonBinnedPlots/combined_Loess_LdDecay_Plot.png
ldDecay/plots/nonBinnedPlots/faceted_2000bpLine_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/faceted_Line_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/faceted_Loess_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/fallax_AZ_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/fallax_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/fallax_UT_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/gouldii_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/graminea_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/heermanni_N_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/heermanni_S_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/insignis_AK_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/kenaiensis_AK_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/maxillaris_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/maxima_AK_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/merrilli_AK_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/merrilli_WA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/mexicana_MX_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/montana_N_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/montana_NV_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/montana_OR_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/montana_S_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/morphna_BC_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/nominate_ON_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/nominate_VA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/pusillula_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/rivularis_MX_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/rufina_BC_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/samuelis_CA_ldDecay_plot.png
ldDecay/plots/nonBinnedPlots/sanaka_AK_ldDecay_plot.png
ldDecay/316samples_pops.txt
pop-gen-scripts/old/00.checkSnps.sh
pop-gen-scripts/old/01.pca.sh
pop-gen-scripts/old/02.LDpruning.sh
pop-gen-scripts/old/plotPCA.R
pop-gen-scripts/old/README.md
WZA/old/Booker_computeCorrelationsForWZA.py
WZA/316samples_pops.txt
WZA/scaledPopEnvAnnual.csv
XA.CA-pops/.DS_Store
XA.CA-pops/02.plotPCA.July2023.R
XA.CA-pops/VCFmanipulation/removeIndividuals.sh
XA.CA-pops/VCFmanipulation/removeSamps.txt
XA.CA-pops/admixture/01.admixture.sh
XA.CA-pops/admixture/admixture_data.csv
XA.CA-pops/admixture/admixture.R
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.1.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.2.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.3.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.4.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.5.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.6.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.7.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.8.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.9.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.10.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.11.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.12.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.13.Q
XA.CA-pops/admixture/CAsampsNoMiss.LDpruned.plink.list
XA.CA-pops/admixture/samplelist.csv
XA.CA-pops/pca/.DS_Store
XA.CA-pops/pca/316Samples6x_070723_out.gds
XA.CA-pops/pca/montana.gds
XA.CA-pops/pca/SubSamps_071323.gds
XA.CA-pops/pca/output/316Samples6x_missingness.csv
XA.CA-pops/pca/output/316samples6x_PCA.csv
XA.CA-pops/pca/output/CA_SOSP_Phred_14Feb_PCAdata_Cluster2.png
XA.CA-pops/pca/output/montanaPCA.csv
XA.CA-pops/pca/output/SubSamp2PCA.csv
XA.CA-pops/pca/output/SubSampPCA.csv
